/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: RobotoBlack;
    src: url("../fonts/Roboto-Black.ttf");
}
*{-webkit-box-sizing: border-box;box-sizing: border-box;}
img,video{max-width: 100%;height: inherit;}
ul{list-style-type: none;}
a{text-decoration: none; color: black;}
figure{margin: 0;}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    --mainColor: #00a4d3;
}

.container{max-width: 100%;}
@media (min-width: 576px){.container{max-width: 540px; margin: 0 auto;} }
@media (min-width: 768px){.container{max-width: 720px; margin: 0 auto;} }
@media (min-width: 992px){.container{max-width: 960px; margin: 0 auto;} }
@media (min-width: 1200px){.container{max-width: 1140px; margin: 0 auto;} }
@media (min-width: 1400px){.container{max-width: 1320px; margin: 0 auto;} }

section{padding-top: 60px;padding-bottom: 60px;}
@media (max-width: 576px){ section{padding: 40px;}}
header{background-color: var(--mainColor); padding: 35px 0px;}

.container .links{    text-align: right;}
.container .links a{ width: 50px; height: 50px;}
.container .links a img { margin-right: -7px;}
@media (max-width: 576px){
    .container .links{
        padding-right: 20px;
    }
}
header .gHeader{
    
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}



@media (max-width: 768px){
    header .gHeader{gap: 20px; grid-auto-rows: 190px;}
}
@media (max-width: 576px){
    header .gHeader{grid-auto-rows: initial;}
}
header .logo{
    display: -ms-grid;
    height: inherit;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3; 
}
@media (max-width: 768px){
    header .logo{grid-column: 1 / -1; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
}


header nav{
    display: -ms-grid;
    display: grid;
    grid-column: 8/-1;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    text-transform: uppercase;
}
@media (max-width: 768px){header nav{grid-column: 1 / -1; align-self: end;}}
@media (max-width: 576px){header nav{grid-auto-flow: row; text-align: center;gap:10px}}

header nav a{ color: white; }
header nav a:hover, a:active{ font-family: RobotoBlack; }

.main{
    padding-top: 140px;
    padding-bottom: 120px;
    
    background-image: url("../img/main/bg.png");
    background-color: var(--mainColor);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.gMain{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.borderBottom{
    width: 780px;
    height: 680px;
    margin: 0 auto;
    
    border-bottom: 4px dashed #d3d8e2 ;
    
    position: relative;
    border-radius: 38px;
    display: grid;
    grid-column: 1/7;
    left: -180px;
    
}
@media (max-width: 1400px){
    .borderBottom{
        width: 580px;
        height: 480px;
    }
}

@media (max-width: 992px){
    .borderBottom{
        grid-column: 1/-1;
        left: initial;
        border: transparent;
    }
}
@media (max-width: 768px){
    .borderBottom{
        width: 380px;
        height: 280px;
    }
}
@media (max-width: 420px){
    .borderBottom{
        width: 350px;
        height: 280px;
    }
}
@media (max-width: 380px){
    .borderBottom{
        width: 300px;
        height: 250px;
        left: -24px;
    }
}
.borderBottom::after{
    content: " ";
    width: 744px;
    height: 56px;
    position: absolute;
    border: 4px dashed #d3d8e2;
    border-radius: 0px 0px 38px 0px;
    border-top: transparent;
    border-left: transparent;
    right: -3px;
    bottom: -4px;
}
@media (max-width: 1400px){
    .borderBottom::after{
        width: 737px;
        right: -3.5px;
    }
}
@media (max-width: 992px){
    .borderBottom::after {
        width: 566px;
        right: 10.5px;
        border-radius: 0px 0px 38px 38px;
    }
}
@media (max-width: 768px){
    .borderBottom::after {
        width: 316px;
        right: 43.5px;
        height: 17px;
        bottom: 10px;
    }
}
@media (max-width: 420px){
    .borderBottom::after {
        width: 282px;
        right: 44.5px;
        height: 17px;
        bottom: 7px;

    }
}
@media (max-width: 380px){
    .borderBottom::after{
        width: 231px;
        right: 42.5px;
    }
}

.wrap{
    height: inherit;
    padding: 30px;
    
    border: 4px dashed #d3d8e2 ;
    border-bottom: transparent;
    transform: perspective(525px) rotateY(6deg);
    position: absolute;
    border-radius: 38px 38px 0px 30px;
    overflow: hidden;
    left: 27px;
    bottom: 29px;
    right: -33px;
}
@media (max-width: 1400px){
    .wrap{
        right: -20px;
    }
}
@media (max-width: 992px){
    .wrap {
        right: -7px;
        left: 13px;
        bottom: 15px;
    }
}
@media (max-width: 768px){
    .wrap {
        right: 39px;
    }
}

.wrap>.slideshow{
    width: 100%;
    height: 100%;
    
    border-radius: 18px;
    overflow: hidden;
  
}
#slideshow{
    border-radius: 18px;
}
.buttons{
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    
}
.buttons input{
    width: 15px;
    
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--mainColor);
    border-radius: 50%;
    cursor: pointer;
}
.buttons input:checked,input:active,input:hover{
    outline: none; background-color: var(--mainColor) ;
}

.gMain .heading{
    display: -ms-grid;
    display: grid;
    grid-column: 7/-1;
    font-family: 'Dosis', sans-serif;
    color: var(--mainColor);
}
.gMain .heading h1{
    font-size: 72px;
    font-weight: 700;
    margin: 0;
}
.gMain .heading h2{
    font-size: 48px;
    font-weight: 500;
}
@media (max-width: 992px){
    .gMain .heading{grid-column: 1/-1;}
}
@media (max-width: 767px){
    .gMain .heading{margin-left: auto; margin-right: auto;}
    .gMain .heading h1{font-size: 42px; margin-left: auto; margin-right: auto;}
    .gMain .heading h2{font-size: 40px; margin-left: auto; margin-right: auto;}
}
@media (max-width: 576px){
    .gMain .heading h1{font-size: 35px;}
    .gMain .heading h2{font-size: 30px;}
}




.welcome {
    background-color: var(--mainColor);
    background-image: url("../img/welcome/bg.png");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gWelcome .top{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 30px;
    
    letter-spacing: 1px;
    padding: 0;
    padding-bottom: 21px;
}

.gWelcome h2{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    padding-bottom: 27px;
    margin: 0;
    letter-spacing: 1.5px;
}

.gWelcome {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row-align: stretch;
        align-self: stretch;
}

.pictureWelcome {
    grid-column: 6 / -1;
}
@media (max-width: 576px){
    .pictureWelcome{ -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1/2; grid-column: 1/-1;}
    .text{grid-column: 1/-1;}
}

.gWelcome p {
    padding-bottom: 10px;
    line-height: 24px;
    width: 80%;
    letter-spacing: 0.45px;
}
.gWelcome p+p{
    padding-bottom: 45px;
}

.RM {
    background-color: white;
    color: var(--mainColor);
    padding: 16px 36px;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.coursesTable h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--mainColor);
    letter-spacing: 1.5px;
    margin: 0;
    padding-bottom: 50px;
}

.coursesTable .container > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 16px 5px 43px 5px;
    width: 35%;
    letter-spacing: 0.64px;
    line-height: 21px;
}

.coursesTable .gCards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}


.coursesTable .gCards .fig:nth-child(odd){-ms-grid-column: 1;-ms-grid-column-span: 6;grid-column: 1/7;}
.coursesTable .gCards .fig:nth-child(even){-ms-grid-column: 7;-ms-grid-column-span: 6;grid-column: 7/-1;}

@media (max-width: 1200px){
    .coursesTable .gCards .fig:nth-child(odd){-ms-grid-column: 1;-ms-grid-column-span: 12;grid-column: 1/-1;}
    .coursesTable .gCards .fig:nth-child(even){-ms-grid-column: 1;-ms-grid-column-span: 12;grid-column: 1/-1;}
    .coursesTable .gCards .fig {min-height: 500px;}
    .coursesTable .gCards .fig .caption {margin-top: auto;margin-bottom: auto;}
}

.coursesTable .gCards .fig .t1{background-image: url("../img/courses/1.jpg");}
.coursesTable .gCards .fig .t2{background-image: url("../img/courses/2.jpg");}
.coursesTable .gCards .fig .t3{background-image: url("../img/courses/3.jpg");}
.coursesTable .gCards .fig .t4{background-image: url("../img/courses/4.jpg");}
.coursesTable .gCards .fig .t5{background-image: url("../img/courses/5.jpg");}
.coursesTable .gCards .fig .t6{background-image: url("../img/courses/6.jpg");}
.coursesTable .gCards .fig .t7{background-image: url("../img/courses/7.jpg");}
.coursesTable .gCards .fig .t8{background-image: url("../img/courses/8.jpg");}

.coursesTable .gCards .fig{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fafafa ;
    border-radius: 0px 30px 30px 0px;
}

.coursesTable .gCards .fig .pic {
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0px 0px 30px;
}

.coursesTable .gCards .fig .caption {
    grid-column: 2/-1;
    padding: 44px 34px;
}

.coursesTable .gCards span{
    font-weight: 500;
    letter-spacing: 0.5px;
}

.coursesTable .gCards span::before{
    content: "\2709";
    margin-right: 2px;
}

.coursesTable .gCards h3{
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.coursesTable .gCards p{
    color: #aaaaaa;
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 32px;
}

@media (max-width: 768px){
    .coursesTable .gCards .fig .pic {grid-column: 1/-1; min-height: 500px; border-radius: 30px 30px 0px 0px;}
    .coursesTable .gCards .fig .caption {grid-column: 1/-1;margin-top: 0;margin-bottom: 0;}
    .coursesTable .gCards .fig {border-radius: 0px 0px 30px 30px;}
}

.teachers {
    padding-top: 65px;
    padding-bottom: 81px;
}

.gTeachers h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--mainColor);
    letter-spacing: 1.5px;
    margin: 0;
    padding: 16px 5px 43px 5px;
}

.tCards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat 33px (2, 1fr);
    grid-template-columns: repeat (2, 1fr);
    gap: 33px;
}

.tCards div {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 300px;
    height: 300px;
    background-image: url("../img/teachers/teacher1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin: 0 100px;
}

.tCards div span {
    border-bottom-right-radius: 30px; 
    border-bottom-left-radius: 30px; 
    display: block;
    text-align: center;
    color: white;
    background-color: var(--mainColor);
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 243px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.tCards>p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 70%;
    margin: auto 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 24px;
}

@media (max-width: 1200px) {
    .tCards div {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 992px)
{
    .gTeachers p {width: 100%;}
    .tCards>p {text-align: justify;}
}

@media (max-width: 600px)
{
    .tCards div {grid-column: 1/-1; margin-left: auto; margin-right: auto; width: 200px;height: 200px;}
    .tCards div span {margin-top: 145px;}
    .tCards>p {grid-column: 1/-1;}
}


footer{
    background-image: url("../img/footer/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 310px;
    padding-bottom: 270px;
    background-position: center;
}

.address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
}

.contact {
    grid-column: 11/-1;
}
@media (max-width: 768px){
    footer{
        padding-top: 300px;
        text-align: center;
        
    }
}

footer h4,p {margin: 0;}

footer .container>a,footer .info h4,footer .info .address .contact span{
    color: var(--mainColor);
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
}
footer .container>a span{display: -ms-grid;display: grid;}

footer .info{
    padding-top: 150px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12,1fr);
}
@media(max-width: 768px){
    footer .info {padding-top: 50px;}
}
footer .info h4,footer .info .address .contact span{font-weight: 700;}
footer .info .address{
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
}

footer .info .contact{
    grid-column: 5/11;
}

footer .info .fa {
    grid-column: 11/12;
    text-align: right;
    font-size: 36px;
    border: 3px solid transparent;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: var(--mainColor);
    text-align: center;
    text-decoration: none;
}

footer .info .fa:hover{
    border: 3px solid var(--mainColor);
    border-radius: 30px;
    
}

footer .info  p{
    color: #333333;
    line-height: 26px;
    letter-spacing: -0px;
}
footer .info .address>p{padding-bottom:26px}
footer .info .address>p span{display: -ms-grid;display: grid;}

@media (max-width: 768px){
    footer .info{grid-auto-flow: row;}
    footer .info .address{grid-column: 1/-1;}
    footer .info .contact{grid-column: 1/-1; text-align: center;}
    footer .info .fa {grid-column: 1/-1; text-align: center; margin-left: auto; margin-right: auto;}
    footer .info .in {grid-column: 1/-1; text-align: center; margin-left: auto; margin-right: auto;}
}


footer .addInf{
    padding-top: 41px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12,1fr);
}
@media (max-width: 768px){
    footer .addInf{grid-auto-flow: row;  grid-template-rows: repeat(2,auto);}
}
footer .addInf .copy{
    color: var(--mainColor);
    font-weight: 700;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: -0.65px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
}
footer .addInf .logo{
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
}

@media (max-width: 768px){
    footer .addInf .logo{ display: none; }
    footer .addInf .copy{ grid-column: 1/-1; grid-row: 2/-1; text-align: center;   }
    
    
}


.about {
    padding-top: 140px;
    padding-bottom: 120px;
    
    background-image: url("../img/main/bg.png");
    background-color: var(--mainColor);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gAbout {
    font-family: 'Dosis', sans-serif;
    color: var(--mainColor);
}

.theatr {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.gAbout .theatr img {
    border-radius: 30px;
    grid-column: 1/2;
}

.gAbout p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: auto;
    margin-bottom: auto;
} 

.gAbout .theatr p {
    grid-column: 2/3;
}

.garden {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.gAbout .garden img {
    border-radius: 30px;
    grid-column: 2/3;
}

.gAbout .garden p {
    grid-column: 1/2;
}

.gAbout>p {
    padding-top: 30px;
}

@media (max-width: 968px) {
    .gAbout .theatr img {grid-column: 1/-1;}
    .gAbout .theatr p {grid-column: 1/-1;}
    .gAbout .garden img {grid-column: 1/-1;}
    .gAbout .garden p {grid-column: 1/-1;}
}